@font-face {
	font-family: "police";
	src: url('police/Arimo-Regular.ttf');
}

/* body */

body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    font-family: "police";
}

/* video */

video {
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
}

/* navbar */

.drapeautraduction1 {
    margin-left: 30px;
    width: 19px;
    height: 14px;
}

.drapeautraduction2 {
    margin-left: 30px;
    width: 19px;
    height: 14px;
    margin-right: 100px;
}

.uk-navbar-container {
    margin-left: 200px;
    border-bottom: solid 1px rgb(172, 172, 172);
    }

/* presentation */

span {
    display: flex;
    justify-content: center;
}

/* article */


.uk-article {
    margin-bottom: 120px;
    font-family: "police";
    font-size: 1.5em;
}

p.uk-animation-scale-up {
    color: rgb(63, 63, 63);}

#placementarticle {
    margin-top: 100px;
}

h1, h2, h3, h4 p {
    color: rgb(117, 117, 117);
    font-family: "police";
}

.uk-article-title {
    color: rgb(37, 37, 37);
    font-size: 2em;
    font-family: "police";
}

.textecentrer {
    display: block;
    text-align: center;
}
/* slider */

div.placementSlider {
    margin-top: 20px;
}

.imgpanel {
    border: solid black 1px;
}

/* separation */
hr.uk-divider-icon {
    margin-top: 100px;
    color: black;
}

/* partie formation */

p.uk-text-lead {
    color: rgb(117, 117, 117);
    font-family: "police";
    font-size: 1.5em;
}

.placementformation {
    margin-top: 50px;
}

dt {
    margin-bottom: 5px;
    font-size: 1.1em;
    color: rgb(54, 54, 54);
}

dd {
    margin-bottom: 30px;
    font-size: 1em;
    color: rgb(117, 117, 117);
    width: 600px;
}

/* competences */

.imgLogo {
    height: 60px;
    width: 60px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgLogoJS {
    height: 75px;
    width: 75px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgLogoGIT {
    height: 60px;
    width: 100px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* barre before footer */

hr.uk-divider-small {
    display: flex;
    justify-content: center;
}

/* cards */

.uk-card {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-top: 50px;
}

.uk-card-body {
    display: flex;
    justify-items: center;
}

.tailleimgcard {
    width: 90px;
    height: 90px;
    margin-left: 60px;
    margin-top: 15px;
}

.tailleimgcardGit {
    width: 110px;
    height: 65px;
    margin-left: 50px;
    margin-top: 15px;
}

#marginLeftCard {
    margin-left: 100px;
}

/* footer */

footer p {
    text-align: center;
    color: grey;
    margin: 60px auto;
}
