/* Partie body */

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: "police";
    background: url(background/versus-background-style-dessine-main_23-2147674259.jpg);
    background-size: cover;
}

/* fond d'ecran */
/* video {
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
} */
/* -----------------------------------------------------*/
 
 /* placement section */

#section1 {
    margin-right: 0px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 80px;
}

#section2 {
    margin: 0px;
    display: inline-block;
    margin-top: 40px;
    margin-right: 80px;
}

/**
 * ----------------------------------------
 * animation heartbeat & positionnement separateur
 * ----------------------------------------
 */
 @keyframes heartbeat {
        from {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: center center;
                  transform-origin: center center;
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        10% {
          -webkit-transform: scale(0.91);
                  transform: scale(0.91);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        17% {
          -webkit-transform: scale(0.98);
                  transform: scale(0.98);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        33% {
          -webkit-transform: scale(0.87);
                  transform: scale(0.87);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        45% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }

#separateur {
        animation: heartbeat 1.5s ease-in-out infinite both;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ------------------------------------------------------- */
/* couleur du texte  */

p {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.3em;
}

span {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}
/* ------------------------------------------------------- */
/* Partie cartes */
#imgCard {
    border:1px groove black;
    width: 200px;
    height: 400px;
    margin-left: 30px;
}

#imgCard2 {
        border:1px groove black;
        width: 200px;
        height: 400px;
        margin-left: 20px;
    }

.placementCartes {
    display: inline-block;
    display: flex;
    justify-content: left;
}

.placementCartes2 {
    display: inline-block;
    display: flex;
    justify-content: right;
}

/* partie stats */

.uk-text-center {
    margin-top: 10px;
}

/* --------------------------------------------- */

/* button */

#bouton {
        margin: 10px;
}

/* animation épée */

#sword1 {
    position: absolute;
    top: 80px; left: 500px;
    animation: myfirst 1.5s ease-in-out both;
    border-style: solid;
    width: 300px;
    text-align: center;
    background-color: #ffaa3b;
    font-size: 1.5em;
    color: black;
    display: flex;
    display: none;
}

@keyframes myfirst {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }